SILICONFLOW_API_KEY=""" 
SILICON_MODEL="Qwen/Qwen2.5-Coder-32B-Instruct"
# SILICON_MODEL="Qwen/Qwen2.5-72B-Instruct"
ACCESS_CODE="4399"
DASHSCOPE_API_KEY=" "
CS_API_KEY=" "
MI_API_KEY=" "

# MODEL_MUSIC='mimo-v2-pro'
# MODEL_MUSIC_API=" "
# MODEL_MUSIC_URL='https://api.xiaomimimo.com/v1/chat/completions'
MODEL_MUSIC='Pro/deepseek-ai/DeepSeek-V3.2'
MODEL_MUSIC_API="""
MODEL_MUSIC_URL='https://api.siliconflow.cn/v1/chat/completions'